# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# PyCharm / IntelliJ
.idea/
*.iml

# macOS
.DS_Store
__MACOSX/

# Testing / tooling
.pytest_cache/
.coverage
htmlcov/
